input{
    display: flex;

    width: 450px;
    height: 76px;

    color: white;
    text-align: center;
    font-size: 24px;

    border-style: none;
    border-radius: 20px;
    background: #B3B3B3;
 
    margin: 0 0 28px 0;
}
input::placeholder{
    color: white;
}
input:focus
{
    border: solid 3px white;
    outline: none;
}